<div>
    <form action="/feedback" method="POST" name="feedback" id="feedback">
        <label for="name">Name</label>
        <input type="text" id="name" name="name"/>
        <label for="comment">Comment</label>
        <textarea name="comment" rows="5" cols="50"></textarea>
    </form>
</div>