<html>
<head>
	<title>Swoboda Lights</title>
	<link rel="stylesheet" type="text/css" href="/css/mainsite.css" />
</head>
<body>

<% if (!user) { %>
	<p>Welcome! Please <a href="/login">log in</a>.</p>
<% } else { %>
	launchboard
	<a href="/logout">Log Out</a>
<% } %>
</body>
</html>