<h1>Launch!</h1>
<% for (var i=0; i < shows.length; i++) { %>
	<div>
		<button class="button" onClick="onLaunch('<%=shows[i].id%>')">
			<%= shows[i].name %>
		</button>
	</div>
<% } %>
<div class="loading">
		<img id="loadingGif" src="/media/loading.gif" style="visibility:hidden"
</div>
