<div>
<img class=header src="/media/SwobodaLightsHeader.png" alt ="Swoboda Lights"/>
</div>
<div>
	<h1>Hey!</h1>
	<p>
	The <%=playlist%> playlist is currently running.  Tune Your radio to <%=station%> and enjoy.
</div>